<html>
<head>
    <title>OSU - CS 340 - Introduction to Databases - Military Assignment Manager</title>
</head>
<body>
    <div id="wrapPage">
    <h1>Military Assignment Manager</h1>
        <ul>
            <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
            <li><a href="{{ url_for('bids') }}">Bids</a></li>
            <li><a href="{{ url_for('commanders') }}">Commanders</a>  </li>
            <li><a href="{{ url_for('cycles') }}">Cycles</a></li>
            <li><a href="{{ url_for('members') }}">Members</a></li>
        </ul>
    </div>
    <h1>CS 340 - Introduction to Databases - Military Assignment Manager</h1>
    <p></p>
</body>
</html>